@use 'sass:math';
@use 'sass:color';

@use 'darkMode';

$d: 70;
$w: 600;
$s: 3s;

// snow image
$grad: ();
@for $i from 0 to $d {
    $v: random(4) + 2;
    $a: random(5) * .1 + .5;
    $grad : $grad, radial-gradient(
        $v+px $v+px at
        (random($w - $v * 2) + $v)+px
        (random($w - $v * 2) + $v)+px,
        rgba(255, 255, 255, $a) 50%,
        rgba(0, 0, 0, 0)
    ) !global;
}

html {
    @apply overflow-auto lg:overflow-hidden;

    height: 100%;
    background: linear-gradient(#1230AE 30%, #6C48C5);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.snow-canvas {
    .snow {
        &::after, &::before {
            position: absolute;
            top: -$w + px;
            left: 0;
            bottom: 0;
            right: 0;
            background-image: $grad;
            background-size: $w + px $w + px;
            animation: snow $s linear infinite;
            content: "";
        }
    
        &::after {
            margin-left: math.div(-$w, 3) + px;
            opacity: .4;
            animation-duration: $s*2;
            filter: blur(3px);
        }
    
        &::before {
            animation-duration: $s*3;
            margin-left: math.div(-$w, 2) + px;
            opacity: .65;
            filter: blur(1.5px);
        }
    }
}

@keyframes snow {
    to {
        transform: translateY($w + px);
    }
}

.navbar-canvas {
    background-color: aliceblue;
    .navbar-menu {
        & a {
            position: relative;
        }
    
        & a::after {
            content: "";
            height: 3px;
            width: 0;
            position: absolute;
            bottom: -3px;
            left: 0;
            background: #333;
            transition: width .3s;
        }
    
        & a:hover::after {
            width: 100%;
        }
    }

    .dropdown-menu {
        display: flex;
        flex-direction: column;

        width: 40%;

        padding: 10px;
        gap: 5px;

        position: absolute;
        top: 72px;
        right: 0;
        color: #333;

        overflow: hidden;

        // glassmorphism

        background-color: aliceblue;

        transition: all .5s;
        & a {
            font-weight: 600;
            padding: 10px;

            transition: all .3s;
            z-index: 20;

            position: relative;
        }

        & a::after {
            content: '';
            border-radius: 12px;
            width: 0;
            background-color: darken($color: #FF0066, $amount: 25%);
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -10;

            transition: width .3s ease-out 0s;
        }

        & a:hover {
            color: white;
        }

        & a:hover::after {
            width: 100%;
        }
    }
}

.main-canvas {

    @apply w-[90%] lg:w-[65%];
    margin: auto;
    margin-top: 20px;
    border-radius: 16px;

    padding: 1.2rem 0;

    background: rgba(255, 255, 255, 0.39);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    border: 1px solid rgba(255, 255, 255, 0.54);

    .main-title {
        @apply text-white text-center text-[1.75rem] lg:text-[3rem];

    }

    & .main-header {
        @apply text-white flex flex-col lg:flex-row items-center justify-center py-5;

        & div:nth-child(1) {
            @apply flex flex-col justify-center items-center lg:w-1/2;

            p {
                @apply p-5 text-xl;

                text-align: justify;
                text-justify: inter-word;
            }
        }

        & div:nth-child(2) {
            @apply w-full lg:w-1/2 px-5;

            ul {
                @apply flex flex-col lg:flex-row gap-3 items-center justify-between;

                li {
                    @apply w-full lg:w-1/2;
                }

                li > p:first-child {
                    @apply text-center text-lg lg:text-xl;
                }

                li > p:last-child {
                    @apply text-center mt-3 lg:text-2xl;
                }
            }
        }
    }
    .main-button {
        @apply flex justify-center items-center w-full px-5 gap-5 pt-4 text-white;

        a {
            @apply border-2 rounded-md px-5 py-2 text-sm text-center relative font-semibold;
        }
        
        a:first-child {
            @apply flex items-center justify-center gap-3;
        }

        a::after {
            content: '';
            background-color: darken($color: #FF0066, $amount: 25%);;
            width: 0;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -10;
            height: 100%;
            transition: width .3s ease-in-out;
        }

        a:hover::after {
            width: 100%;
        }
    }
}